body{
  background-image: url("images/space1.gif");
  background-repeat: no-repeat;
  background-size: cover;
} 

h1{
  font-family: 'OCR A Std', 'monospace';
  font-weight: bold;
  color: white;
  text-align: center;
}

h2{
  color: transparent;
}

/*----------Start----------*/

#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: all;
}

#speak{
  height: 220px;
  display: block;
  margin-left: 190px;
  margin-top: 40px;
}

#gadget{
  height: 300px;
  position: fixed; 
  bottom:0; 
  left: 0; 
  z-index: 2;
}

#parametres{
  margin-left: 10px;
  margin-right: 5px;
  height: 15px;
  float: right;
}

#logo {
  height: 120px;
  float: left;
}

.logout{
  margin : 50px auto 50px ;
  color : white ;
  width : 400px ;
  border : solid white ;
  border-radius: 20px;
  text-align : center ;
  padding: 20px;
  background-color:rgba(0,0,0,0.65);
}

.logout:hover{
    box-shadow: 0 0 20px white;
}

#logout{
    height: 60px;
}

#logout:hover{
    transition: 0.5s;
    height: 80px;
}

#img{
    height: 200px;
}

#lost{
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*----------Start----------*/


/*----------Score----------*/
.score,td,th{
    border: 1px solid white;
    border-collapse: collapse;
    display:auto;
    background-color:rgba(0,0,0,0.50);
    color: white;
}

.ligne{
    text-align: center;
    width : 80px;
    height : 30px;
}

.tableauscore{
    float: right;
    margin-right: 130px;
    margin-top: 50px;
}

#conteneur{
    background-image:url('images/podium.png');
    background-size: 410px;
    height:280px;
    width:374px;
    margin-right: 400px;
}
#conteneur span{
    display:inline-block;
    width:32%;
    text-align:center;
    position:relative;
}
#conteneur span:nth-child(1){ top:107px; }
#conteneur span:nth-child(2){ top:0px; }
#conteneur span:nth-child(3){ top:107px; }

#first{color: gold;font-size: 30px;}
#sec{color: silver;}
#third{color: #B1560F}

/*----------Score----------*/


/*----------Jeu.php----------*/

#t01,th,td {
    border: 1px solid white;
    border-collapse: collapse;
    display:auto;
    margin-left:auto;
    margin-right:auto;
}
            
th,td {
    text-align: center;
    width : 75px;
    height : 75px;
}
          
table#t01 tr {
    background-color: #eee;
    color : black;
}


.img{
    height : 100%;
    width : 100%;
}

.boutonjeu{
    color : black;
    height : 100%;
    width : 100%;
}

#hint{
    display: block;
    margin-right: 390px;
    margin-bottom: 10px;
    background-color: black;
    padding: 8px 2px;
    width: 8%;
    color: white;
    border-color: #000099;
    border-radius: 10px;
}

#moula{
    position: absolute;
    margin-right: 390px;
    margin-bottom: 10px;
    background-color: black;
    padding: 8px 2px;
    width: 8%;
    color: white;
    border-color: #000099;
    border-radius: 10px;
}

#sous{
    height: 20px;
}
/*----------Jeu.php----------*/

select{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*----------Button start----------*/
#button{
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    text-align: center;
    float: right;
    margin-right: 43%;
}

#button:hover{
    background: #000099;
    color: white;
    box-shadow: 0 0 5px #000099,
                0 0 25px #000099,
                0 0 50px #000099,
                0 0 200px #000099;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#button:nth-child(1){
    filter: hue-rotate(270deg);
}
#button:nth-child(2){
    filter: hue-rotate(110deg);
}
#button span{
    position: absolute;
    display: block;
}
#button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#000099);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
#button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#000099);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
#button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#000099);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

#button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#000099);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/*----------Bouton start----------*/


/*----------Formulaire----------*/
legend{
    text-align: center;
    color: white;
    font-family: bold;
}

#connect{
    margin-top: 100px;
}

input[type=text],input[type=password]{
    background-color: transparent;
    color: white;
    width:40%;
    border:2px solid #000099;
    border-radius:4px;
    display: block;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus,input[type=password]:focus,input[type=submit]:focus{
    background-color: #000099;
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

input[type=submit]{
    color: white;
    background-color: transparent;
    border-color: #000099;
    width: 15%;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 10px;
}

input[type=submit]:hover{
    background-color: #000099;
    border-color: white;
    box-shadow: 0 0 8px dodgerBlue;
    width: 20%;
    transition: 0.5s;
}

p{
    color: white;
    text-align: center;
}
/*----------Formulaire----------*/


/*----------Menu----------*/
@font-face {
    font-family: pirulen;
    src: url(https://raw.githubusercontent.com/th3knigh7/css-design/black-bg/pirulen.ttf);
}
@font-face{
    font-family: destructob;
    src: url(https://raw.githubusercontent.com/th3knigh7/css-design/black-bg/destructob.ttf);
}
    
nav li a{
    color:white;
    text-decoration: none;
    transition: letter-spacing .5s;
}

.circle_main{
    font-family: pirulen;
    font-size:10px;
    color:white;
    position: relative;
    margin:0 auto;
    width:100px;
    height:100px;
    border-radius: 50%;
    background:rgba(15,94,110,.1);
    transition: width 1s ,height 1s;
    z-index: 1;
}
  
.change .circle_main{
    width:110px;
    height:110px;
}
    
.circle_main:hover{
    animation: vibrate .5s infinite ease-out;
}
    
.bar_left{
    position:absolute;
    top:35px;
    right:43px;
    width: 4px;
    height: 33px;
    border-radius:2px;
    box-shadow: 0 0 13px 3px rgba(0, 131, 177, 0.77);
    transition:transform 1s, width 1s;
    z-index:-2;
}
    
.change .bar_left{
    width:240px;
    transform: skewX(20deg);
    animation: op 1s;   
}
    
.bar_right{
    position:absolute;
    top:35px;
    left:43px;
    width: 4px;
    height: 33px;
    border-radius:2px;
    box-shadow: 0 0 13px 3px rgba(0, 131, 177, 0.77);
    transition: transform 1s,width 1s;
    z-index: -1;
}
    
.change .bar_right{ 
    width:240px;
    transform: skewX(-20deg);
    animation: op 1s;
}
    
@keyframes op{
    0%{opacity:0;}
    20%{opacity:0;}
    100%{opacity:1;}
}
    
.arc1 {
  content:"";
  position: absolute;
  width: 90%;
  height: 90%;
  left: 4.92%;
  top: 4.92%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: rotate 4s linear infinite;
  text-align: center;
  line-height: 129px;
}
    
.line1 {
  border: 2px solid white ;
  border-left: 1px solid transparent;
  animation: rotate 5s linear infinite;
}

.line2 {
  border: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  animation: rotate_anti 4s linear infinite;
}

.line3 {
  border: 2px solid white;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: rotate 3s linear infinite;
}

.line4 {
  border: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: rotate_anti 2s linear infinite;
}
 
.reactor {
  position:absolute;
  background:#fff;
  width: 30%;
  height: 30%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(2, 255, 255, 0.15);
  margin:30%;
  cursor: pointer;
}

.change .reactor{animation: flicker .2s infinite;}
    
.reacttext{
    opacity:0;
    position:absolute;
    top:25%;
    margin:2 auto;
    color:rgba(0,0,0,1);
    font-size:11px;
    font-weight: 900;
    font-family: destructob;        
    transition: opacity 1s;
}

.change .reacttext{opacity:1;}

.bar_left>ul{
    padding: 0;
    margin:10px 70px 0 0px;
    list-style:none;
    transform: skewX(-20deg);
}
    
.bar_right>ul{
    padding:0;
    margin:10px 0 0 70px;
    list-style:none;
    transform: skewX(20deg);
}
    
li{margin:auto;}

nav li a:hover{
    letter-spacing:2px;
}
    
.nav_top{
    display:none;
    flex-direction: row;
}
    
.change .nav_top{display: flex;}
    
.nav_bottom{
    display:none;
    flex-direction:row-reverse;
}

.change .nav_bottom{display: flex;}

.hamContainer{
    position: absolute;
    top:-6%;
    transition:opacity 1s;
}
    
.hbar1, .hbar2, .hbar3,.hbar4,.hbar5 {
    height: 2px;
    background-color:black;
    border-radius: 4px;
    margin:4px auto;      
}

 
.hbar1 {
    width:15px;
    animation: a 1s infinite;
    animation-delay: .5s;
}

.hbar2 {
    width:20px;
    animation:a 1s infinite;
    animation-delay: .5s;}

.hbar3 {
    width: 30px;
    animation:a 1s infinite;
    animation-delay: .5s;
    }

.hbar4 {
    width:20px;
    animation:a 1s infinite;
    animation-delay: .5s;
    }

.hbar5 {
    width:15px;
    animation:a 1s infinite;
    animation-delay: .5s;
    }
    
.change .hamContainer{opacity:0;}

@keyframes a {
    0% {transform: scaleX(1) skewX(10deg)  ;}
    50% {transform: scaleX(.7) skewX(20deg)  ;}
    100% {transform: scaleX(1) skewX(30deg);}
}

@keyframes flicker{
  0% {box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);}
  40% {box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);}
  50% {box-shadow: 0px 0px 50px 17px rgba(150, 255, 255, 0.5), inset 0px 1px 100px 2px rgba(21, 211, 233, 0.3);}
  60% {box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);}
  100% {box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);}
}
    
    
@keyframes rotate {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}
    
    
@keyframes rotate_anti {
  0% {transform: rotateZ(360deg);}
  100% {transform: rotateZ(0deg);}
}

/*----------Menu----------*/

/*----------Footer----------*/

.icon{
  display: inline;
  margin-right: 35px;
}

.reseaux{
  width: 40px;
}

ul{
  list-style-type: none;
}

#legal{
  color: white;
  cursor: pointer;
}

footer {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    background-color: black;
    color : white; 
    font-weight: bold;
    text-align: center;
    margin: 0px;
  }

/*----------Footer----------*/