body{
  background-image: url("images/space1.gif");
  background-repeat: no-repeat;
  background-size: cover;
} 

h1{
  font-family: 'OCR A Std', 'monospace';
  font-weight: bold;
  color: white;
  text-align: center;
}

h2{
  color: transparent;
}

/*----------Start----------*/

#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#speak{
  height: 220px;
  display: block;
  margin-left: 190px;
  margin-top: 40px;
}

#gadget{
  height: 300px;
  position: fixed; 
  bottom:0; 
  left: 0; 
}

#parametres{
  margin-left: 10px;
  margin-right: 5px;
  height: 30px;
  float: right;
  margin-top: 10px;
}

#logo {
  margin: 0;
  height: 120px;
}

.logout{
  margin : 50px auto 50px ;
  color : white ;
  width : 400px ;
  border : solid white ;
  border-radius: 20px;
  text-align : center ;
  padding: 20px;
  background-color:rgba(0,0,0,0.65);
}

.logout:hover{
    box-shadow: 0 0 20px white;
}

#logout{
    height: 60px;
}

#logout:hover{
    transition: 0.5s;
    height: 80px;
}

#img{
    height: 200px;
}

/*----------Start----------*/


/*----------Score----------*/
.score,td,th{
  border: solid; 
  border-collapse:collapse;
  border-color: white;
  text-align:center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

/*----------Score----------*/


/*----------Jeu.php----------*/

table,th,td {
    border: 1px solid white;
    border-collapse: collapse;
    display:auto;
    margin-left:auto;
    margin-right:auto;
}
            
th,td {
    text-align: center;
    width : 75px;
    height : 75px;
}
          
table#t01 tr {
    background-color: #eee;
    color : black;
}


.img{
    height : 100%;
    width : 100%;
}

.boutonjeu{
    color : black;
    height : 100%;
    width : 100%;
}

#hint{
    margin-right: 20px;
}

/*----------Jeu.php----------*/

select{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*----------Button start----------*/
#button{
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    text-align: center;
    float: right;
    margin-right: 550px;
}

#button:hover{
    background: #000099;
    color: white;
    box-shadow: 0 0 5px #000099,
                0 0 25px #000099,
                0 0 50px #000099,
                0 0 200px #000099;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#button:nth-child(1){
    filter: hue-rotate(270deg);
}
#button:nth-child(2){
    filter: hue-rotate(110deg);
}
#button span{
    position: absolute;
    display: block;
}
#button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#000099);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
#button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#000099);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
#button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#000099);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

#button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#000099);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/*----------Bouton start----------*/


/*----------Formulaire----------*/
legend{
    text-align: center;
    color: white;
    font-family: bold;
}

#connect{
    margin-top: 100px;
}

input[type=text],input[type=password]{
    background-color: transparent;
    color: white;
    width:40%;
    border:2px solid #000099;
    border-radius:4px;
    display: block;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus,input[type=password]:focus,input[type=submit]:focus{
    background-color: #000099;
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

.submit{
    color: white;
    background-color: transparent;
    border-color: #000099;
    width: 15%;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 10px;
}

.submit:hover{
    background-color: #000099;
    border-color: white;
    box-shadow: 0 0 8px dodgerBlue;
    width: 20%;
    transition: 0.5s;
}

p{
    color: white;
    text-align: center;
}
/*----------Formulaire----------*/

/*----------Menu----------*/
nav {
  
  height: 30px;
  margin-top: 20px;
  position: absolute;
  width: 319px;
  display: block;
  margin-left: 850px;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: #000099;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #000099;
}

nav a:nth-child(2):after {
  background-color: white;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: #000099;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, #000099, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #000099, white);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, purple, #000099);
}

/*----------Menu----------*/